body {
    margin: 0;
}

.Nav {
    grid-area: Nav;
}

.Nav ul {
    background-color: #e12301;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: larger;
    text-align: center;
}

.Nav li {
    display: inline;
}


.Nav a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 14px 16px;
}

.Nav a:hover:not(.active) {
    background-color: #ce0000;
}

.Nav img {
    width: 60px;
    height: auto;
    padding-right: 2em;
}


.active {
    background-color: #dba24a;
}

.Nav h1 {
    background-color: #e12301;
    color: white;
    text-align: center;
}

.Footer {
    grid-area: Footer;
    background-color: black;
}

.Footer img {
    float: left;
    margin-left: 5em;
    margin-bottom: 2em;
    height: 100px;
}

.Footer p {
    font-size: 18px;
    padding-top: 2.5em;
    padding-right: 2em;
    text-align: right;
    color: white;
}